<%- include('./port/layout-start', {title: title}) %>
<%- include('./port/menu') %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4"><%= title %></h1>
    </div>
</div>

<div class="jumbotron jumbotron-fluid">
    <div class="container">

        <% if (!user) { %>
        <p>Пожалуйста, <a href="/login"> авторизуйтесь </a></p>
        <% } else { %>
        <p>Привет, <%= user.name.familyName %>. </p>
        <p> <a href="/profile">Профиль </a></p>
        <p> <a href="/logout">Выход </a></p>
        <% } %>
    </div>
</div>


<%- include('./port/layout-end') %>